<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.objy.assist.data"
   name="Objectivity/Assist Data"
   version="11.1.0"
   provider-name="Objectivity"
   class="com.objy.assist.data.DataPlugin">

   <runtime>
      <library name="data.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="com.objy.assist.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="com.objy.assist.api"/>
      <import plugin="com.objy.assist.query"/>
      <import plugin="com.objy.assist.schema"/>
   </requires>


   <extension
         point="com.objy.assist.core.modelComponentPresentation">
      <domComponentPresentation
            componentTypeName="Data"
            supportsPrevious="false"
            image="icons/Data.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="ContainerData"
            supportsPrevious="false"
            labelAttribute2="systemName"
            fixedTypeName="Container"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/ContainerData.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="ContainerIndex"
            fixedTypeName="Container Index"
            labelAttribute1="containerOid"
            isSortable="false"
            image="icons/ContainerIndex.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="ContainerObject"
            labelAttribute2="class"
            fixedTypeName="Container"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/Object.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="DbData"
            supportsPrevious="false"
            labelAttribute2="systemName"
            fixedTypeName="Database"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/DbData.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="DbIndex"
            fixedTypeName="DB Index"
            labelAttribute1="dbOid"
            image="icons/DbIndex.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Derivative"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/Derivative.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Derivatives"
            image="icons/Derivatives.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="DerivedFrom"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/DerivedFrom.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="DerivedFroms"
            isSortable="false"
            image="icons/DerivedFroms.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="FdIndex"
            fixedTypeName="FD Index"
            isSortable="false"
            image="icons/FdIndex.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="KeyDesc"
            labelAttribute2="indexedClass"
            fixedTypeName="Key Description"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/KeyDesc.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="KeyField"
            fixedTypeName="Key Field"
            labelAttribute1="member"
            isSortable="false"
            image="icons/KeyField.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Map"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/Map.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="MapElement"
            labelAttribute2="oid"
            fixedTypeName="Map Element"
            labelAttribute1="name"
            isSortable="false"
            image="icons/MapElement.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="NamedContainer"
            labelAttribute2="name"
            fixedTypeName="Named Container"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/NamedContainer.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="NamedObject"
            labelAttribute2="name"
            fixedTypeName="Named Object"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/NamedObject.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="ApNameScope"
            labelAttribute2="name"
            fixedTypeName="AP Name Scope"
            labelAttribute1="apSystemName"
            isSortable="false"
            image="icons/ApNameScope.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="ContainerNameScope"
            labelAttribute2="name"
            fixedTypeName="Container Name Scope"
            labelAttribute1="containerOid"
            isSortable="false"
            image="icons/ContainerNameScope.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="DbNameScope"
            labelAttribute2="name"
            fixedTypeName="DB Name Scope"
            labelAttribute1="dbOid"
            isSortable="false"
            image="icons/DbNameScope.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="FdNameScope"
            fixedTypeName="FD Name Scope"
            labelAttribute1="name"
            isSortable="false"
            image="icons/FdNameScope.gif">
      </domComponentPresentation>
      <domComponentPresentation
            fixedTypeName="Object Name Scope"
            labelAttribute2="name"
            labelAttribute1="objectOid"
            componentTypeName="ObjectNameScope"
            image="icons/ObjectNameScope.gif"
            isSortable="false">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="NextVersion"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/NextVersion.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Object"
            labelAttribute2="class"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/Object.gif"
            showAllChildren="true">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="NextVersions"
            isSortable="false"
            image="icons/NextVersions.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Versioning"
            isSortable="false"
            image="icons/Versioning.gif">
      </domComponentPresentation>
      <customPresentation
            componentTypeName="Basic"
            presentationClass="com.objy.assist.data.presentation.BasicPresentation"
            image="icons/Basic.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="String"
            presentationClass="com.objy.assist.data.presentation.StringPresentation"
            image="icons/String.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="Embedded"
            presentationClass="com.objy.assist.data.presentation.EmbeddedPresentation"
            image="icons/Embedded.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="Ref"
            presentationClass="com.objy.assist.data.presentation.RefPresentation"
            image="icons/Ref.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="FixedArray"
            presentationClass="com.objy.assist.data.presentation.FixedArrayPresentation"
            image="icons/FixedArray.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="VariableArray"
            presentationClass="com.objy.assist.data.presentation.VariableArrayPresentation"
            image="icons/VariableArray.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="JArray"
            presentationClass="com.objy.assist.data.presentation.JArrayPresentation"
            image="icons/JArray.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="ToOne"
            presentationClass="com.objy.assist.data.presentation.ToOnePresentation"
            image="icons/ToOne.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="ToMany"
            presentationClass="com.objy.assist.data.presentation.ToManyPresentation"
            image="icons/ToMany.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="Inherited"
            presentationClass="com.objy.assist.data.presentation.InheritedPresentation"
            image="icons/Inherited.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="BasicElement"
            presentationClass="com.objy.assist.data.presentation.BasicElementPresentation"
            image="icons/BasicElement.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="StringElement"
            presentationClass="com.objy.assist.data.presentation.StringElementPresentation"
            image="icons/StringElement.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="RefElement"
            presentationClass="com.objy.assist.data.presentation.RefElementPresentation"
            image="icons/RefElement.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="EmbeddedElement"
            presentationClass="com.objy.assist.data.presentation.EmbeddedElementPresentation"
            image="icons/EmbeddedElement.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="VariableArrayElement"
            presentationClass="com.objy.assist.data.presentation.VariableArrayElementPresentation"
            image="icons/VariableArrayElement.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="JArrayElement"
            presentationClass="com.objy.assist.data.presentation.JArrayElementPresentation"
            image="icons/JarrayElement.gif">
      </customPresentation>
      <domComponentPresentation
            fixedTypeName="Named Objects"
            componentTypeName="NamedObjects"
            image="icons/NamedObject.gif"
            isSortable="false"/>
      <domComponentPresentation
            fixedTypeName="Name Scopes"
            componentTypeName="NameScopes"
            image="icons/ObjectNameScope.gif"
            isSortable="false"/>
      <customPresentation
            componentTypeName="DateTimeElement"
            image="icons/DateTime.GIF"
            presentationClass="com.objy.assist.data.presentation.DateTimeElementPresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="DateElement"
            image="icons/Date.GIF"
            presentationClass="com.objy.assist.data.presentation.DateElementPresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="TimeElement"
            image="icons/Time.GIF"
            presentationClass="com.objy.assist.data.presentation.TimeElementPresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="IntervalElement"
            image="icons/Interval.GIF"
            presentationClass="com.objy.assist.data.presentation.IntervalElementPresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="DateTime"
            image="icons/DateTime.GIF"
            presentationClass="com.objy.assist.data.presentation.DateTimePresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="Date"
            image="icons/Date.GIF"
            presentationClass="com.objy.assist.data.presentation.DatePresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="Time"
            image="icons/Time.GIF"
            presentationClass="com.objy.assist.data.presentation.TimePresentation">
      </customPresentation>
      <customPresentation
            componentTypeName="Interval"
            image="icons/Interval.GIF"
            presentationClass="com.objy.assist.data.presentation.IntervalPresentation">
      </customPresentation>
   </extension>
  <extension
         point="com.objy.assist.core.modelComponentFilter">
      <filter
            componentTypeName="DbData"
            filter="com.objy.assist.data.modelExtensions.DbDataFilter">
      </filter>
      <filter
            componentTypeName="ContainerData"
            filter="com.objy.assist.data.modelExtensions.ContainerDataFilter">
      </filter>
      <filter
            componentTypeName="Db"
            filter="com.objy.assist.data.modelExtensions.DbDataFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            filenames="Data"
            class="com.objy.assist.data.editors.DataEditor"
            icon="icons/Data.gif"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            name="DataEditor"
            id="com.objy.assist.data.editors.dataEditor">
      </editor>
      <editor
            filenames="DbData"
            class="com.objy.assist.data.editors.DbDataEditor"
            icon="icons/DbData.gif"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            name="DdDataEditor"
            id="com.objy.assist.data.editors.dbDataEditor">
      </editor>
      <editor
            filenames="ContainerData"
            class="com.objy.assist.data.editors.ContainerDataEditor"
            icon="icons/ContainerData.gif"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            name="ContainerDataEditor"
            id="com.objy.assist.data.editors.containerDataEditor">
      </editor>
      <editor
            filenames="Object"
            class="com.objy.assist.data.editors.ObjectEditor"
            icon="icons/Object.gif"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            name="ObjectEditor"
            id="com.objy.assist.data.editors.objectEditor">
      </editor>
   </extension>
   <extension
         point="com.objy.assist.core.domComponentCompare">
      <domComponentCompare
            componentTypeName="DbData"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="ContainerData"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="NamedObject"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="NamedContainer"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="Object"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="Map"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="KeyDesc"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="MapElement"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="KeyField"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="DbIndex"
            idAttribute1="dbOid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="ContainerIndex"
            idAttribute1="containerOid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="ApNameScope"
            idAttribute1="apId">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="DbNameScope"
            idAttribute1="dbOid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="ContainerNameScope"
            idAttribute1="containerOid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="ObjectNameScope"
            idAttribute1="objectOid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="RefElement"
            idAttribute1="index">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="BasicElement"
            idAttribute1="index">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="EmbeddedElement"
            idAttribute1="index">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="StringElement"
            idAttribute1="index">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="VariableArrayElement"
            idAttribute1="index">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="JArrayElement"
            idAttribute1="index">
      </domComponentCompare>
   </extension>
   <extension
         point="com.objy.assist.core.modelComponentChildProvider">
      <childProvider
            componentTypeName="ContainerData"
            childProviderClass="com.objy.assist.data.modelExtensions.ContainerDataChildProvider">
      </childProvider>
      <childProvider
            childProviderClass="com.objy.assist.data.modelExtensions.PqlQueryChildProvider"
            componentTypeName="PqlQuery">
      </childProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Object"
            id="com.objy.assist.data.object">
         <action
               label="Delete"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.DeleteObjectsActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.action1">
            <enablement>
               <and>
	               <objectState
	                        name="preference.com.objy.assist.core.connectionMode"
	                        value="readWrite">
	               </objectState>
	               <or>
	                  <objectState
	                        name="parent.typeName"
	                        value="PqlQuery">
	                  </objectState>
	                  <objectState
	                        name="isReadOnly"
	                        value="false">
	                  </objectState>
	               </or>
               </and>
            </enablement>
         </action>
         <action
               label="Add Scope Name"
               class="com.objy.assist.data.actions.AddNameScopeActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.addNameScope">
            <enablement>
               <and>
                  <objectState
	                       name="preference.com.objy.assist.core.connectionMode"
	                       value="readWrite">
	               </objectState>
                   <objectState
                           name="isReadOnly"
                           value="false">
                   </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="ContainerData"
            id="com.objy.assist.data.container">
         <action
               label="Delete"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.DeleteContainersActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.action2">
            <enablement>
               <and>
                  <objectState
	                    name="preference.com.objy.assist.core.connectionMode"
	                    value="readWrite">
	              </objectState>
                  <objectState
                        name="isReadOnly"
                        value="false">
                  </objectState>
                  <not>
                     <objectState
                           name="class"
                           value="ooDefaultContObj">
                     </objectState>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               label="Add Object(s)"
               class="com.objy.assist.data.actions.AddObjectActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="com.objy.assist.data.action7">
            <enablement>
               <and>
                   <objectState
	                 name="preference.com.objy.assist.core.connectionMode"
	                 value="readWrite">
	               </objectState>
                   <objectState
                     name="isReadOnly"
                     value="false">
                   </objectState>
                   <objectState
                       name="hasPlacementModel"
                       value="false">
                   </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="DbData"
            id="com.objy.assist.data.db">
         <action
               label="Delete"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.DeleteDbsActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.action3">
            <enablement>
	            <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set Read Only"
               class="com.objy.assist.data.actions.SetReadOnlyActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.data.SetReadOnly">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set Read-Write"
               class="com.objy.assist.data.actions.SetReadWriteActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.data.SetReadWrite">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="true">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Named*"
            id="com.objy.assist.data.NamedObject">
         <action
               label="Remove"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.RemoveNamedObjectsActionDelegate"
               enablesFor="+"
               id="com.objy.assist.data.action4">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="RefElement"
            id="com.objy.assist.data.ToManyRefElement">
         <visibility>
            <objectState
                  name="parent.typeName"
                  value="ToMany">
            </objectState>
         </visibility>
         <action
               label="Remove"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.RemoveRelElementsActionDelegate"
               enablesFor="+"
               id="com.objy.assist.data.action5">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="RefElement"
            id="com.objy.assist.data.NotToManyRefElement">
         <visibility>
            <not>
               <objectState
                     name="parent.typeName"
                     value="ToMany">
               </objectState>
            </not>
         </visibility>
         <action
               label="Clear"
               class="com.objy.assist.data.actions.ClearRefActionDelegate"
               enablesFor="+"
               id="com.objy.assist.data.clearRefElement">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set"
               class="com.objy.assist.data.actions.SetRefActionDelegate"
               enablesFor="1"
               id="com.objy.assist.data.setRefElement">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="ToOne"
            id="com.objy.assist.data.ToOne">
         <action
               label="Clear"
               class="com.objy.assist.data.actions.ClearRefActionDelegate"
               enablesFor="+"
               id="com.objy.assist.data.clearToOne">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set"
               class="com.objy.assist.data.actions.SetRefActionDelegate"
               enablesFor="1"
               id="com.objy.assist.data.setToOne">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="RefElement"
            id="com.objy.assist.data.VArrayRefElement">
         <visibility>
            <or>
               <objectState
                     name="parent.typeName"
                     value="VariableArray">
               </objectState>
               <objectState
                     name="parent.typeName"
                     value="VariableArrayElement">
               </objectState>
            </or>
         </visibility>
         <action
               label="Remove"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.RemoveVArrayElementsActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.action6">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="BasicElement"
            id="com.objy.assist.data.VArrayBasicElement">
         <visibility>
            <or>
               <objectState
                     name="parent.typeName"
                     value="VariableArray">
               </objectState>
               <objectState
                     name="parent.typeName"
                     value="VariableArrayElement">
               </objectState>
            </or>
         </visibility>
         <action
               label="Remove"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.RemoveVArrayElementsActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.action7">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="EmbeddedElement"
            id="com.objy.assist.data.VArrayEmbeddedElement">
         <visibility>
            <or>
               <objectState
                     name="parent.typeName"
                     value="VariableArray">
               </objectState>
               <objectState
                     name="parent.typeName"
                     value="VariableArrayElement">
               </objectState>
            </or>
         </visibility>
         <action
               label="Remove"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.RemoveVArrayElementsActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.action8">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="*NameScope"
            id="com.objy.assist.data.NameScope">
         <action
               label="Remove"
               icon="icons/remove.gif"
               class="com.objy.assist.data.actions.RemoveNameScopesActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.NameScope">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="DbData"
            id="com.objy.assist.data.DbData">
         <action
               label="Add Container(s)"
               class="com.objy.assist.data.actions.AddContainerActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="com.objy.assist.data.action8">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
	               <objectState
                       name="hasPlacementModel"
                       value="false">
                   </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Ref"
            id="com.objy.assist.data.ref">
         <action
               label="Clear"
               class="com.objy.assist.data.actions.ClearRefActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.clearRef">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set"
               class="com.objy.assist.data.actions.SetRefActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="com.objy.assist.data.setRef">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="VariableArray*"
            id="com.objy.assist.data.VariableArrayOfRef">
         <visibility>
            <objectState
                  name="type"
                  value="ref">
            </objectState>
         </visibility>
         <action
               label="Add References"
               class="com.objy.assist.data.actions.AddRefsActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="com.objy.assist.data.addRefsToVArray">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="ToMany"
            id="com.objy.assist.data.VariableArrayOfRef">
         <action
               label="Add References"
               class="com.objy.assist.data.actions.AddRefsActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="com.objy.assist.data.addRefsToToMany">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="JArray"
            id="com.objy.assist.data.jarray">
         <action
               label="Clear"
               class="com.objy.assist.data.actions.ClearRefActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="com.objy.assist.data.clearRef">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set"
               class="com.objy.assist.data.actions.SetRefActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="com.objy.assist.data.setRef">
            <enablement>
               <and>
	               <objectState
		                 name="preference.com.objy.assist.core.connectionMode"
		                 value="readWrite">
		               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>

</plugin>
