<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- PROJECT_FULLNAME PROJECT_VERSION Query Server API Version QS_VERSION -->
<!-- Description: QS_DESCRIPTION -->
<!-- Copyright (c) 1989-2012 Objectivity, Inc. All Rights Reserved -->
<!-- See also: man pages for "launchd(8)" and "launchd.plist(5)" -->
<dict>
    <!-- Key to uniquely identify the server -->
    <key>Label</key>
    <string>com.objectivity.ooqs</string>
    <key>ProgramArguments</key>
    <array>
        <!-- Query server executable -->
        <string>INSTALL_DIR/bin/ooqs</string>
<!-- Optional server arguments - uncomment each block to edit -->
<!-- port to bind to -->
<!--        <string>-port</string> -->
<!--        <string>6782</string> -->
<!-- end port option -->
<!-- # of threads -->
<!--         <string>-numthreads</string> -->
<!--         <string>8</string> -->
<!-- end thread option -->
<!-- session cache size per thread, specified in number of pages -->
<!--         <string>-cachesize</string> -->
<!--         <string>500</string> -->
<!-- end session cache option -->
    </array>
    <!-- User account used to run the server -->
    <key>UserName</key>
    <string>root</string>
    <!-- KeepAlive option - "true" keeps the server always running -->
    <key>KeepAlive</key>
    <false/>
    <!-- RunAtLoad option - "true" starts the server automatically at boot -->
    <key>RunAtLoad</key>
    <false/>
    <!-- Server environment -->
    <key>EnvironmentVariables</key>
    <dict>
        <!-- Shared library search path -->
        <key>DYLD_LIBRARY_PATH</key>
        <string>INSTALL_DIR/lib</string>
        <!-- Server's log directory -->
        <key>OO_SERVER_LOG_DIR</key>
        <string>SRVR_LOG_DIR</string>
    </dict>
</dict>
</plist>
