<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.objy.assist.doc"
   name="Objectivity/Tutorials"
   version="11.1.0"
   provider-name="Objectivity">

   <runtime>
   </runtime>

   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true" />
   </extension>
   
  <extension point="org.eclipse.help.toc">
     <toc file="toc_concepts.xml" /> 
     <toc file="toc_cppTutorial.xml" /> 
     <toc file="toc_examplesGuide.xml" /> 
     <toc file="toc_introduction.xml" /> 
     <toc file="toc_javaTutorial.xml" /> 
     <toc file="toc_dbTutorial.xml" /> 
     <toc file="toc_tasks.xml" /> 
  </extension>   
</plugin>
