<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.objy.assist.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.objy.assist.rcp.Perspective"
            fixed="true"
            icon="icons/objylogo.gif"
            id="com.objy.assist.rcp.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.objy.assist.core"
            name="Objectivity/Assist Catagory">
      </category>
      <view
            category="com.objy.assist.core"
            class="com.objy.assist.core.views.FdExplorer"
            icon="icons/fdExplorer.gif"
            id="com.objy.assist.core.views.FdExplorer"
            name="%FdExporerName">
      </view>
      <view
            category="com.objy.assist.core"
            class="com.objy.assist.core.views.LogViewer"
            icon="icons/log.gif"
            id="com.objy.assist.core.views.logViewer"
            name="Session Log">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Objectivity/Assist Commands"
            id="com.objy.assist.core.objectivity"
            name="%Catagory">
      </category>
      <command
            name="FD Open"
            description="New/Open FD"
            categoryId="com.objy.assist.core.objectivity"
            id="com.objy.assist.rcp.fdopen">
      </command>
      <command
            categoryId="com.objy.assist.core.objectivity"
            description="Disconnect FD"
            id="com.objy.assist.rcp.fddisconnect"
            name="FD Disconnect">
      </command>
      <command
            categoryId="com.objy.assist.core.objectivity"
            id="com.objy.assist.rcp.query"
            name="Query">
      </command>
      <command
            categoryId="com.objy.assist.core.objectivity"
            id="com.objy.assist.rcp.delete"
            name="Delete FD">
      </command>
      <command
            categoryId="com.objy.assist.core.objectivity"
            id="com.objy.assist.rcp.logopen"
            name="Open Session Log">
      </command>
      <command
            categoryId="com.objy.assist.core.objectivity"
            id="com.objy.assist.rcp.verifyinstall"
            name="Verify Objectivity Installation">
      </command>
      <category
            description="Objectivity/Assist Schema Commands"
            id="com.objy.assist.schema.category"
            name="%Catagory">
      </category>
      <command
            categoryId="com.objy.assist.schema.category"
            id="com.objy.assist.rcp.commitSchemaActionItem"
            name="Commit Schema">
      </command>
      <command
            categoryId="com.objy.assist.schema.category"
            id="com.objy.assist.rcp.abortSchemaActionItem"
            name="Abort Schema">
      </command>
      <category
            description="Objectivity/Assist Help Commands"
            id="com.objy.assist.rcp.help.category"
            name="%Catagory">
      </category>
      <command
            categoryId="com.objy.assist.rcp.help.category"
            id="com.objy.assist.rcp.showintro"
            name="Welcome">
      </command>
      <category
            description="Objectivity/Assist window category"
            id="com.objy.assist.rcp.window.category"
            name="%Catagory">
      </category>
      <command
            categoryId="com.objy.assist.rcp.window.category"
            id="org.eclipse.ui.views.ContentOutline"
            name="Show Outline">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.objy.assist.rcp.fdopen"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.objy.assist.rcp.application"
            name="Objectivity/Assist">
         <property
               name="appName"
               value="Objectivity/Assist">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Objectivity/Assist &#x0A;&#x0A;(c) Copyright Objectivity, Inc. 2003-2012.  All rights reserved.&#x0A;(c) Copyright Eclipse contributors and others 2000-2012.  All rights reserved.&#x0A;Visit http://eclipse.org/">
         </property>
	     <property
        	   name="introTitle"
               value="Welcome to Objectivity/Assist"/>
         <property
	           name="introBrandingImage"
	           value="/com.objy.assist.rcp/icons/objectivity-pyramid-16-to-256.ico"/>
	     <property
	           name="introBrandingImageText"
	           value="Objectivity, Inc."/>
      <property
            name="startupForegroundColor"
            value="000000">
      </property>
      <property
            name="startupMessageRect"
            value="45,225,445,25">
      </property>
      <property
            name="startupProgressRect"
            value="25,200,445,15">
      </property>
      <property
            name="windowImages"
            value="icons/objylogo.gif">
      </property>
      <property
            name="aboutImage"
            value="icons/objylogo.gif">
      </property>
         </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.objy.assist.query.editors.PqlQueryEditor"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            filenames="Dummy"
            icon="icons/search.gif"
            id="com.objy.assist.query.pqlQueryEditor"
            name="Query">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.objy.assist.rcp.perspective">
         <view
               closeable="true"
               id="com.objy.assist.core.views.logViewer"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
         <intro
               class="org.eclipse.ui.intro.config.CustomizableIntroPart"
               icon="icons/objylogo.gif"
               id="com.objy.assist.rcp.intro">
      </intro>
      <introProductBinding
            introId="com.objy.assist.rcp.intro"
            productId="com.objy.assist.rcp.product">
      </introProductBinding>
   </extension>
   <extension
      point="org.eclipse.ui.intro.config">
      <config
            content="welcome.xml"
            id="com.objy.assist.rcp.configId"
            introId="com.objy.assist.rcp.intro">
            <presentation
                  home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
         </config>
   </extension>

</plugin>
