<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.objy.assist.administration"
   name="Objectivity/Assist Administration"
   version="11.1.0"
   provider-name="Objectivity"
   class="com.objy.assist.administration.AdministrationPlugin">

   <runtime>
      <library name="administration.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="com.objy.assist.core"/>
      <import plugin="com.objy.assist.api"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="APs"
            icon="icons/Aps.gif"
            filenames="Aps"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            class="com.objy.assist.administration.editors.ApsEditor"
            id="com.objy.assist.administration.ApsEditor">
      </editor>
      <editor
            name="DBs"
            icon="icons/Dbs.gif"
            filenames="Dbs"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            class="com.objy.assist.administration.editors.DbsEditor"
            id="com.objy.assist.administration.DbsEditor">
      </editor>
      <editor
            name="DB Images"
            icon="icons/DbImages.gif"
            filenames="DbImages"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            class="com.objy.assist.administration.editors.DbImagesEditor"
            id="com.objy.assist.administration.DbImagesEditor">
      </editor>
      <editor
            name="Hosts"
            icon="icons/Hosts.gif"
            filenames="Hosts"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            class="com.objy.assist.administration.editors.HostsEditor"
            id="com.objy.assist.administration.editor5">
      </editor>
      <editor
            name="FD"
            icon="icons/Fd.gif"
            filenames="Fd"
            contributorClass="com.objy.assist.core.editors.ModelComponentEditorContributor"
            class="com.objy.assist.administration.editors.FdEditor"
            id="com.objy.assist.administration.editor1">
      </editor>
   </extension>
   <extension
         point="com.objy.assist.core.modelComponentPresentation">
      <domComponentPresentation
            componentTypeName="Aps"
            fixedTypeName="Autonomous Partitions"
            image="icons/Aps.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Ap"
            fixedTypeName="AP"
            labelAttribute1="systemName"
            image="icons/Ap.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Dbs"
            fixedTypeName="Databases"
            image="icons/Dbs.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="Db"
            labelAttribute2="systemName"
            fixedTypeName="DB"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/Db.gif">
      </domComponentPresentation>
      <domComponentPresentation
            componentTypeName="DbImage"
            labelAttribute2="apSystemName"
            fixedTypeName="DB Image"
            labelAttribute1="oid"
            isSortable="false"
            image="icons/DbImage.gif">
      </domComponentPresentation>
      <customPresentation
            componentTypeName="DbImages"
            presentationClass="com.objy.assist.administration.modelExtensions.DbImagesPresentation"
            image="icons/DbImages.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="Hosts"
            presentationClass="com.objy.assist.administration.modelExtensions.HostsPresentation"
            image="icons/Hosts.gif">
      </customPresentation>
      <customPresentation
            componentTypeName="Host"
            presentationClass="com.objy.assist.administration.modelExtensions.HostPresentation"
            image="icons/Host.gif">
      </customPresentation>
      <domComponentPresentation
            componentTypeName="Catalog"
            image="icons/Catalog.gif">
      </domComponentPresentation>
   </extension>
   <extension
         point="com.objy.assist.core.modelComponentChildProvider">
      <childProvider
            componentTypeName="Catalog"
            childProviderClass="com.objy.assist.administration.modelExtensions.CatalogChildProvider">
      </childProvider>
   </extension>
   <extension
         point="com.objy.assist.core.domComponentCompare">
      <domComponentCompare
            componentTypeName="Ap"
            idAttribute1="Id">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="Db"
            idAttribute1="oid">
      </domComponentCompare>
      <domComponentCompare
            componentTypeName="DbImage"
            idAttribute2="apSystemName"
            idAttribute1="oid">
      </domComponentCompare>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Catalog"
            category="com.objy.assist"
            class="com.objy.assist.administration.AdministrationPreferencePage"
            id="com.objy.assist.administration">
      </page>
   </extension>
   <extension
         point="com.objy.assist.core.modelTreeRefresher">
      <refresher
            refresherClass="com.objy.assist.administration.PreferenceChangeModelTreeRefresher">
      </refresher>
   </extension>
   <extension
         point="com.objy.assist.core.modelComponentFilter">
      <filter
            componentTypeName="Aps"
            filter="com.objy.assist.administration.modelExtensions.CatalogFilter">
      </filter>
      <filter
            componentTypeName="DbImages"
            filter="com.objy.assist.administration.modelExtensions.CatalogFilter">
      </filter>
      <filter
            componentTypeName="DbImage"
            filter="com.objy.assist.administration.modelExtensions.CatalogFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Aps"
            id="com.objy.assist.administration.Aps">
         <action
               label="Add AP"
               class="com.objy.assist.administration.actions.AddApActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.AddAp">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Ap"
            id="com.objy.assist.administration.Ap">
         <action
               label="Edit"
               class="com.objy.assist.administration.actions.EditApActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.EditAp">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
         <action
               label="Delete"
               icon="icons/remove.gif"
               class="com.objy.assist.administration.actions.DeleteApsActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.DeleteAps">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
         <action
               label="Mark Online"
               class="com.objy.assist.administration.actions.MarkOnlineActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.MarkOnline">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
         <action
               label="Mark Offline"
               class="com.objy.assist.administration.actions.MarkOfflineActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.MarkOffline">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Dbs"
            id="com.objy.assist.administration.Dbs">
         <action
               label="Add DB"
               class="com.objy.assist.administration.actions.AddDbActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.AddDb">
            <enablement>
               <and>
	               <objectState
	                        name="preference.com.objy.assist.core.connectionMode"
	                        value="readWrite">
	               </objectState>
	               <objectState
	                        name="hasPlacementModel"
	                        value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Data"
            id="com.objy.assist.administration.Data">
         <action
               label="Add DB"
               class="com.objy.assist.administration.actions.AddDbActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.AddDbToData">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Db"
            id="com.objy.assist.administration.Db">
         <action
               label="Delete"
               icon="icons/remove.gif"
               class="com.objy.assist.administration.actions.DeleteDbsActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.DeleteDbs">
            <enablement>
               <and>
	               <objectState
	                        name="preference.com.objy.assist.core.connectionMode"
	                        value="readWrite">
	               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set Read Only"
               class="com.objy.assist.administration.actions.SetReadOnlyActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.actions.SetReadOnly">
            <enablement>
               <and>
	               <objectState
	                        name="preference.com.objy.assist.core.connectionMode"
	                        value="readWrite">
	               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Set Read-Write"
               class="com.objy.assist.administration.actions.SetReadWriteActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.actions.SetReadWrite">
            <enablement>
               <and>
	               <objectState
	                        name="preference.com.objy.assist.core.connectionMode"
	                        value="readWrite">
	               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="true">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="Db"
            id="com.objy.assist.administration.Db2">
         <visibility>
            <objectState
                  name="preference.com.objy.assist.administration.showAPs"
                  value="false">
            </objectState>
         </visibility>
         <action
               label="Edit"
               class="com.objy.assist.administration.actions.EditDbImageActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.action1">
            <enablement>
               <and>
	               <objectState
	                        name="preference.com.objy.assist.core.connectionMode"
	                        value="readWrite">
	               </objectState>
	               <objectState
	                     name="isReadOnly"
	                     value="false">
	               </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.core.model.dom.IDomComponent"
            nameFilter="DbImage*"
            id="com.objy.assist.administration.DbImage">
         <action
               label="Delete"
               icon="icons/remove.gif"
               class="com.objy.assist.administration.actions.DeleteDbImagesActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.DeleteDbImages">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
         <action
               label="Edit"
               class="com.objy.assist.administration.actions.EditDbImageActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.EditImage">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
         <action
               label="Replicate"
               class="com.objy.assist.administration.actions.ReplicateDbImageActionDelegate"
               menubarPath="Additions"
               enablesFor="1"
               id="com.objy.assist.administration.ReplicateDbImage">
            <enablement>
               <objectState
                        name="preference.com.objy.assist.core.connectionMode"
                        value="readWrite">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.objy.assist.administration.modelExtensions.HostModelComponent"
            nameFilter="Host"
            id="com.objy.assist.administration.Host">
         <action
               label="Refresh Status"
               class="com.objy.assist.administration.actions.RefreshHostStatusActionDelegate"
               menubarPath="Additions"
               enablesFor="+"
               id="com.objy.assist.administration.RefreshHost">
         </action>
      </objectContribution>
   </extension>

</plugin>
